[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = http://orgmode.org/org-mode.git
[submodule "vendor/org-pomodoro"]
	path = vendor/org-pomodoro
	url = https://github.com/ryane/org-pomodoro.git
[submodule "vendor/org-journal"]
	path = vendor/org-journal
	url = https://github.com/bastibe/org-journal.git
